[submodule "contracts/dss-proxy-actions"]
	path = contracts/dss-proxy-actions
	url = https://github.com/makerdao/dss-proxy-actions
[submodule "contracts/proxy-registry"]
	path = contracts/proxy-registry
	url = https://github.com/makerdao/proxy-registry
[submodule "contracts/osm"]
	path = contracts/osm
	url = https://github.com/makerdao/osm
[submodule "contracts/ds-chief"]
	path = contracts/ds-chief
	url = https://github.com/dapphub/ds-chief
[submodule "contracts/ds-guard"]
	path = contracts/ds-guard
	url = https://github.com/dapphub/ds-guard
[submodule "contracts/median"]
	path = contracts/median
	url = https://github.com/makerdao/median
[submodule "contracts/gov-polling-generator"]
	path = contracts/gov-polling-generator
	url = https://github.com/makerdao/gov-polling-generator
[submodule "contracts/vote-proxy"]
	path = contracts/vote-proxy
	url = https://github.com/makerdao/vote-proxy
[submodule "contracts/multicall"]
	path = contracts/multicall
	url = https://github.com/makerdao/multicall
[submodule "contracts/line-spell"]
	path = contracts/line-spell
	url = https://github.com/makerdao/line-spell
